
{% extends 'base.html' %}

{% block title %} iCarePackages Home {% endblock %}
{% block body %}

<h1> Welcome to iCareMagicBox !! </h1>
<p><img style="width: 720px; height: 200px;" src="/static/img/Cloud1.png"></p>
<h2> Navigation</h2>

<ul>
    <li><a href="/packages">View all packages</a></li>
    <li><a href="/users">View all users</a></li>
    <li><a href="/recipients">View all recipients</a></li>
</ul>


<h2>Login</h2>
<div id="user-login" >
<form action="/login" method="POST">
  <p>
    Email <input id="login-email" type="text" name="email">
  </p>

  <p>
    Password <input id="login-password" type="password" name="password">
  </p>

  <p>
    <input type="submit">
  </p>
</form>
<button id="show-user-form" >New user registration</button>
</div>

<div id="create-user" >
  <h2>Create a User/Register</h2>
  <form id="user-reg-form" action="/register" method="POST">
      <p>
          FirstName <input id="reg-fname" type="text" name="fname">
      </p>
      <p>
          LastName <input id="reg-lname" type="text" name="lname">
      </p>
      <p>
          Email <input id="reg-email" type="text" name="email">
      </p>
      <p>
          Password <input id="reg-password" type="password" name="password">
      </p>
      <p>
          Phone <input id="reg-phone" type="text" name="phone">
      </p>
      <p>
          Birthday <input id="reg-birthday" type="text" name="birthday">
      </p>
      <p>
          Address <input id="reg-address" type="text" name="address">
      </p>
    <p>
      <input type="submit">
    </p>
</form>
</div>

{% endblock %}

