{% extends 'base.html'%}

{% block title%}{{package.package_type}} - Details{% endblock %}

{% block body%}
<div style="text-align: center;">
    <h1>{{package.contents}}</h1>
 
        
        <div class="card-body">
            <h5 class="card-title"><a href="/package/{{ package.package_id }}">{{ package.package_type }}</a></h5>
            <p>{{ package.package_type}}</p>
            <p>{{ package.msg_default}}</p>
            <p>{{package.contents}}</p>
        </div>

        <h2>Sending a Care Package</h2>
        <form action="/recipient" method="POST">
            <p>
                FirstName <input type="text" name="fname">
            </p>
            <p>
                LastName <input type="text" name="lname">
            </p>
            <p>
                Email <input type="text" name="email">
            </p>
            <p>
                Phone <input type="text" name="phone">
            </p>
            <p>
                Birthday <input type="text" name="birthday">
            </p>
            <p>
                Address <input type="text" name="address">
            </p>
          <p>
            <input type="submit">
          </p>
        </form>
    

</div>
{% endblock%}