{% extends 'base.html'%}

{% block title%}{{package.package_type}} - Details{% endblock %}

{% block body%}
<div style="text-align: center;">
    <h1>{{package.contents}}</h1>
 
        
        <div class="card-body">
            <h5 class="card-title"><a href="/package/{{ package.package_id }}">{{ package.package_type }}</a></h5>
            <img class="card-img-top img-circle" src="../static/box_{{package.package_id}}.jpg"> 
            <p>{{ package.package_type}}</p>
            <p>{{ package.msg_default}}</p>
            <p>{{package.contents}}</p>
            <!-- <p>{{package.price}}</p> -->
            <div class="price card-text"><p>$ {{package.price}}.00</p></div>
        </div>

        <h2>Sending a Care Package</h2>
        <form action="/recipient" method="POST">
            <p>
                FirstName <input type="text" name="fname">
            </p>
            <p>
                LastName <input type="text" name="lname">
            </p>
            <p>
                Email <input type="text" name="email">
            </p>
            <p>
                Phone <input type="text" name="phone">
            </p>
            <p>
                Birthday <input type="text" name="birthday">
            </p>
            <p>
                Address <input type="text" name="address">
            </p>
            <!-- # create package_id to be included in form using Jinja
            # set value package = package.package_id -->
            <!-- <p>
                Package  {{package.package_id}}     <!--Jinja -->
                <!-- sent_price {{package.price}}
                msg_customized {{package.msg_default}} -->
            </p> -->
            <p>
                Customize your message:<textarea id="msg_customized" name="msg_customized" spellcheck="true"
                rows="5" cols="30"
                minlength="10" maxlength="200">{{package.msg_default}}</textarea>
            </p>
            <p>
            Send a Gift Now:  <input type="submit" value="Send your Gift">
            </p>
        </form>
    

</div>
{% endblock%}