
{% extends 'base.html' %}

{% block title %} iCarePackages Home {% endblock %}
{% block body %}

<h1> Making your friend have a great day !! </h1>
<h2> Send package to:  </h2>




<h2>Create an package Recipient</h2>
<form action="/recipient" method="POST">
    <p>
        FirstName <input type="text" name="fname">
    </p>
    <p>
        LastName <input type="text" name="lname">
    </p>
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        Phone <input type="text" name="phone">
    </p>
    <p>
        Birthday <input type="text" name="birthday">
    </p>
    <p>
        Address <input type="text" name="address">
    </p>

  <p>
    SendPackage <input type="submit">
  </p>
</form>

{% endblock %}

